@font-face {
    font-family: 'komika_axisregular';
    src: url('../font/KOMIKAX_-webfont.eot');
    src: url('../font/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/KOMIKAX_-webfont.woff') format('woff'),
         url('../font/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../font/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.menuheader{
    font-family: 'komika_axisregular';
    font-size: 1.5em;
}
.topstatus img {
    margin: 0 5px;
}
.logo img {
  position:absolute;
  top: -14px;
  left: 0;
}
.menuheader div { text-align: center;}
.menuheader div a{color:#0e0e0e;text-decoration: none;}
.topstatus {text-align: right;color: white; padding: 5px 0;}
.topstatus a{color: white;text-decoration: none;font-weight: 900;}
.footer_head {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #282828;
    font-weight: 900;
}
.footer_head a{color: #282828;text-decoration:none;}
.header, .footer {text-shadow: 0 0 1px rgba(0,0,0,0.3);}
.footer_detail {margin-top: 20px;}
.footer_detail .w-row .w-col-3 {text-align: center}
.footer_head div {padding: 20px;}
.footer_head div:hover {background: #ff2929;}
.footer_head div:hover a{color: white;}
.footer_detail_cover { padding-right: 0 !important; padding-left: 0 !important;}
.covertop {background: black;}
.point_rotate {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.coverotate {
  font-weight: bold;
  text-align: center;
}
.coverotate:hover .point_rotate{
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.conduct {
    text-transform: uppercase;
    font-size: 1.1em;
    color: #282828;
    font-weight: 900;
}
.footer {
    background: #d9d9d9;
    border-bottom: 5px solid #ff2929;
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer a{
    color: #282828;
    text-decoration: none;
}
.footer a:hover{
    color: red;
    text-decoration: none;
}
.footer input{
    border: 0px solid #444444;
    height:27px;
    width:188px;
    background:url(../images/input_text.png) no-repeat right top;
    color:#6b6c6e;
    padding: 0 12px;
    font-size:1.2em;
    font-style: italic;
}

.footer ::-webkit-input-placeholder { color:    #6b6c6e; font-style: italic;}
.footer :-moz-placeholder { color:    #6b6c6e;opacity:  1; font-style: italic;}
.footer ::-moz-placeholder { color: #6b6c6e;opacity:  1; font-style: italic;}
.footer :-ms-input-placeholder {color: #6b6c6e; font-style: italic;}

.footer .input_footer div { margin-bottom:5px;}
.footer .input_footer div:first-child {padding-left: 10px;}
.footer .input_footer div button {border: 0; background: transparent; padding: 0;}
.copyright {margin-top:30px;  text-align: center;font-weight:900;font-style: italic;}

body {
  font-family: Arial;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}


.section {
  padding-top: 43px;
  padding-bottom: 43px;
}
.section.header {
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #d9d9d9;
}

.hero-bg {
  width: auto;
  height: 650px;
  background: url('../images/web_banner_front_01.png'),
  			  url('../images/bgprototype.jpg');
  background-position: center center, center center;
  background-repeat: no-repeat, repeat-y;
  			  
}





/* MEDIA X 0000000000000000000000000000000000000000000000000000000000000000000000000*/



@media (max-width: 992px) {
  .coverotate { padding: 10px 0;}
  .coverotate:hover { background-color: #ff2929;}
  .coverotate a:hover {color: white;}
  .cl-effect-18 a::before,
  .cl-effect-18 a::after {
    left: 30% !important;
  }
  .header {
    display: none !important;
    visibility: hidden !important;
  }

}

@media (max-width: 992px) and (min-width: 768px) {
  .conduct, .input_footer { padding-top: 20px;}
  .conduct {text-align: right; padding-right: 50px !important;}
}

@media screen and (max-width: 767px) {
  .cl-effect-18 a::before,
  .cl-effect-18 a::after {
      height: 0px !important; width: 0px !important;
  }
  .menuheader div {margin-bottom: 10px; padding: 10px 0; background: red;}
  .menuheader div a:hover {color: white;}
  .conduct {
      padding: 15px 0; 
      text-align: center; 
      font-size: 1.5em !important; 
      line-height: 1.5em;
  }
  .input_footer div { text-align: center;}
}






/* MENU X 0000000000000000000000000000000000000000000000000000000000000000000000000*/


.cl-effect-18 {
	position: relative;
	z-index: 1;
}

.cl-effect-18 .xmenu a {
	padding: 0 5px;
	color: #000;
	font-weight: 900;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-18 .xmenu a::before,
.cl-effect-18 .xmenu a::after {
	position: absolute;
	width: 80px;
	left: 28%;
	top: 50%;
	height: 5px;
	margin-top: -1px;
	background: #ff2929;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cl-effect-18 .xmenu a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cl-effect-18 .xmenu a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.cl-effect-18 .xmenu a:hover,
.cl-effect-18 .xmenu a:focus {
	color: #000;
}

.cl-effect-18 .xmenu a:hover::before,
.cl-effect-18 .xmenu a:hover::after,
.cl-effect-18 .xmenu a:focus::before,
.cl-effect-18 .xmenu a:focus::after {
	opacity: 0.7;
}

.cl-effect-18 .xmenu a:hover::before,
.cl-effect-18 .xmenu a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cl-effect-18 .xmenu a:hover::after,
.cl-effect-18 .xmenu a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}





/* Hamberger menu 0000000000000000000000000000000000000000000000000000000000000000000000000*/



#nav-ham { 
  position: absolute; 
  left: 10%; top: 50%;
  cursor: pointer; 
  padding: 15px 35px 16px 0px; 
  background-color: inherit !important;
}

#nav-ham span, #nav-ham span:before, #nav-ham span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 25px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-ham span:before {
  top: -8px; 
}
#nav-ham span:after {
  bottom: -8px;
}

#nav-ham span, #nav-ham span:before, #nav-ham span:after {
  transition: all 100ms ease-in-out;
}


.activeham:hover #nav-ham span {
  background-color: transparent;
}
.activeham:hover #nav-ham span:before, 
.activeham:hover #nav-ham span:after {
  top: 0;
}
.activeham:hover #nav-ham span:before {
   -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.activeham:hover #nav-ham span:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);}





/* MENU  bar 0000000000000000000000000000000000000000000000000000000000000000000000000*/
/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
 #cat_bags a{color: #4D4D4D;}
#cat_bags a:hover{color: white;}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
  top: 45px;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  width: 850px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.yamm .dropdown-menu {
  background-clip:initial !important;
  border:none !important;
  border-radius:0 !important;
  box-shadow:none !important;
  background-color: #E2E0E1;
  padding: 0 !important;
}
.yamm .row {
  margin-left: 0px; 
  margin-right: 0px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.yamm .ham_category { 
  padding-right: 0px; 
  padding-left: 0px}
.yamm .ham_category div{
  font-weight: bold;
  width: 100%;
  padding: 10px 10px 10px 30px;
  text-align: left;
}
.yamm .ham_category div:hover{
  background-color: #E7002D;
  color: white;
}
.yamm .ham_sub_cat{
  background-color: #E9E9E9;
  padding-left: 0px !important;
}
.yamm .ham_sub_cat .cover_ham{
  padding-left: 0px !important;
  padding-top: 8px !important;
  padding-right: 0;
}
.yamm .sub_sub {
  text-align: left;
  color: #4D4D4D;
  padding: 6px 0px 6px 20px;
}
.yamm .sub_sub:hover {
  background-color: #E7002D;
  color: white;
}
.yamm .sub_sub_hot {
  background-color: #D9D9D9;
}
.yamm .sub_sub_hot img {margin: 15px 0;}
.yamm .sub_sub_hot div {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}
.yamm .special_p_detail {padding-top: 6%;}
.yamm .special_p_detail h5 {margin: 0;}
.yamm .special_p_detail span{
  text-transform: uppercase;
  font-weight: bold;
  line-height: 0px;
}
.yamm .special_p_detail small { 
  text-decoration: line-through;
  line-height: -5px;
}
.yamm .special_p_detail p {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 2em;
  color: #E8002C;
}

.yamm  .cover_shadow{padding: 15% 0 0 0;}
.yamm  .cover_shadow p{padding-top: 20px;}


/* all blocked 0000000000000000000000000000000000000000000000000000000000000000000000000*/


#cat_bags {display:none;}
#cat_bags:first-of-type{display:block;}

.yamm  .show1,
.yamm  .show2
{display:none;}

.yamm  .show1:first-of-type,
.yamm  .show2:first-of-type
{display:block;}

/* product page 0000000000000000000000000000000000000000000000000000000000000000000000000*/


.product_art{
  background:url('../images/bg_product.png') repeat;
}
.block {
  height: 300px;
  background-color: white;
}
.block p{
  position: absolute;
  bottom: 10px;
  left: 30%;
  text-align: center;
  font-family: 'komika_axisregular';
  font-size: 1.5em;
}
.x1,.x10 {
  background:url('../images/p_x1.jpg') repeat;
}
.x3, .x6{
  background:url('../images/p_x2.jpg') repeat;
}
.x4, .x11{
  background:url('../images/p_x3.gif') repeat;
}
.x5, .x7{
  background:url('../images/p_x4.gif') repeat;
}
.x2 {
  background:url('../images/bag1.png') no-repeat center center #ff5d5d;
}
.x8 {
  background:url('../images/bag2.png') no-repeat center center #f2ff5d;
}
.x9 {
  background:url('../images/bag1.png') no-repeat center center #5dd3ff;
}

/* loading bar 0000000000000000000000000000000000000000000000000000000000000000000000000*/


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff2b2b;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ff2b2b, 0 0 5px #ff2b2b;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 9px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #ff2b2b;
  border-left-color: #ff2b2b;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
